<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-body">

                    <h3>Creator Info</h3>
                    <div class="form-group">
                        <label for="creator_name">
                            Name
                        </label>
                        <input  id="creator_name"
                                class="form-control"
                                [(ngModel)]="creatorName" />
                    </div>
                    <div class="form-group">
                        <label for="creator_email">
                            Email
                        </label>
                        <input  id="creator_email"
                                class="form-control"
                                [(ngModel)]="creatorEmail" />
                    </div>

                    <h3>Event Info</h3>
                    <div class="form-group">
                        <label for="event_title">
                            Title
                        </label>
                        <input  id="event_title"
                                class="form-control"
                                [(ngModel)]="eventTitle" />
                    </div>
                    <div class="form-group">
                        <label for="event_description">
                            Description
                        </label>
                        <input  id="event_description"
                                class="form-control"
                                [(ngModel)]="description" />
                    </div>
                    <div class="form-group">
                        <label for="event_deadline">
                            Deadline
                        </label>
                        <input  id="event_deadline"
                                class="form-control"
                                [(ngModel)]="pollDeadline" />
                        <!--<datetime [(ngModel)]="event.deadline"></datetime>-->
                    </div>

                    <h3>Location</h3>
                    <location-picker></location-picker>

                    <h3>Date + Time</h3>
                    <time-picker></time-picker>


                    <h3>Add Attendees</h3>
                    <email-picker></email-picker>

                    <div class="container">
                        <h3>Funding</h3>
                        <div class="form-group">
                            <label for="cover_charge">
                                Cover Charge
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input  id="cover_charge"
                                            [(ngModel)]="cover"
                                            type="checkbox" />
                                </span>
                                <span class="input-group-addon">$</span>
                                <input  id="cover_amount"
                                        type="number" min="0" step="any"
                                        placeholder="0.00"
                                        [(ngModel)]="coverCharge"
                                        [hidden]="!cover" />
                                <input  id="cover_amount"
                                        type="number" min="0" step="any"
                                        placeholder=""
                                        [hidden]="cover"
                                        disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 submitBtn">
            <a class="btn btn-primary btn-block btn-lg" (click)="submit()" routerLink="/confirm">
                Submit
            </a>
        </div>
    </div>
    <!-- <pre>{{submitStatus|json}}</pre>
    <pre>{{submitStatus}}</pre> -->
</div>
