<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-body">

                    <h3>Creator Info</h3>
                    <div class="form-group">
                        <label for="creator_name">
                            Name
                        </label>
                        <input  id="creator_name"
                                class="form-control"
                                [(ngModel)]="creator.name" />
                    </div>
                    <div class="form-group">
                        <label for="creator_email">
                            Email
                        </label>
                        <input  id="creator_email"
                                class="form-control"
                                [(ngModel)]="creator.email" />
                    </div>

                    <h3>Event Info</h3>
                    <div class="form-group">
                        <label for="event_title">
                            Title
                        </label>
                        <input  id="event_title"
                                class="form-control"
                                [(ngModel)]="event.title" />
                    </div>
                    <div class="form-group">
                        <label for="event_description">
                            Description
                        </label>
                        <input  id="event_description"
                                class="form-control"
                                [(ngModel)]="event.description" />
                    </div>
                    <div class="form-group">
                        <label for="event_deadline">
                            Deadline
                        </label>
                        <input  id="event_deadline"
                                class="form-control"
                                [(ngModel)]="event.deadline" />
                    </div>

                    <h3>Location</h3>
                    <location-picker></location-picker>

                    <h3>Date + Time</h3>
                    <time-picker></time-picker>

                    <h3>Add Attendees</h3>
                    <email-picker></email-picker>
                    
                    <div class="container" *ngIf="showFunding == true">
                        <h3>Funding</h3>
                        <div class="form-group">
                            <label for="cover_charge">
                                Cover Charge
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input  id="cover_charge"
                                            type="checkbox"
                                            [(ngModel)]="coverCharge" />
                                </span>
                                <span class="input-group-addon">$</span>
                                <input  id="cover_amount"
                                        type="number" min="0" step="any"
                                        placeholder="0.00"
                                        [(ngModel)]="coverAmount" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contribution">
                                Ask for Contributions
                            </label>
                            <div class="input-group">
                                <input  id="contribution"
                                        type="checkbox"
                                        [(ngModel)]="contribution" />
                            </div>
                        </div>
                    </div>

                    <div class="container" *ngIf="showTransportation == true">
                        <h3>Transportation</h3>
                        <div class="form-group">
                            <label for="poll_for_transport">
                                Poll Attendees for Drivers and Riders?
                            </label>
                            <div class="input-group">
                                <input  id="poll_for_transport"
                                        type="checkbox"
                                        [(ngModel)]="pollUsersForTransport" />
                            </div>
                        </div>

                        <div class="form-group" *ngIf="pollUsersForTransport == true">
                            <label for="need_pickup">
                                Do you need a ride?
                            </label>
                            <div class="input-group">
                                <input  id="need_pickup"
                                        type="checkbox"
                                        [(ngModel)]="needPickup" />
                            </div>
                        </div>

                        <div class="form-group" *ngIf="pollUsersForTransport == true && needPickup == false">
                            <label for="can_drive">
                                Can you pickup others?
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input  id="can_drive"
                                            type="checkbox"
                                            [(ngModel)]="canDrive" />
                                </span>
                                <input  id="cover_amount"
                                        type="number" min="1"
                                        [(ngModel)]="pickupQuantity" />
                            </div>
                        </div>
                    </div>

                    <!--More Options Buttons-->
                    <div class="container" *ngIf="showFunding == false || showTransportation == false">
                        <h3>More Options</h3>
                        <button class="btn btn-info btn-block btn-lg" *ngIf="showFunding == false"
                            (click)="showFunding = true">
                            <span class="glyphicon glyphicon-usd"></span>
                        </button>
                        <button class="btn btn-info btn-block btn-lg" *ngIf="showTransportation == false"
                            (click)="showTransportation = true">
                            <span class="glyphicon glyphicon-road"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-7">
            <a class="btn btn-primary btn-block btn-lg" (click)="submit()">
                Submit
            </a>
        </div>
    </div>
</div>