<ul class="list-group">
   <li class="list-group-item list-group-item-info">
      Event Times
   </li>
   <li  class="list-group-item"
        *ngFor="let time of times">
      <div class="input-group">
        {{ time|date }}
        <span class="input-group-btn">
          <button class="btn btn-danger" (click)="removeTime(time)">
            <span class="glyphicon-minus"></span>
          </button>
        </span>
      </div>
   </li>
   <li class="list-group-item">
       <div class="input-group">
         <input  class="form-control" 
            placeholder="Add Time"
            [(ngModel)]="_temp" datetime-picker />
         <span class="input-group-btn">
            <button class="btn btn-info" (click)="addTime()" [disabled]="!_temp">
                <span class="glyphicon-plus"></span>
            </button>
         </span>
      </div>
   </li>
</ul>
    
    <pre>{{times|json}}</pre>