<div class="form-inline">
    <div id="{{idDatePicker}}" class="input-group date">
        <input type="text" class="form-control"
                />
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <div class="input-group bootstrap-timepicker timepicker">
        <input id="idTimePicker" type="text" class="form-control input-small" 
                >
        <span class="input-group-addon"><i Class="glyphicon glyphicon-time"></i></span>
    </div>
    <button *ngIf="hasClearButton" type="button" (click)="onClearClick()">Clear</button>
</div>